.row
  .col
    %h2 Sign up


.row
  .col
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .row.mb-3
        = f.label :email, class: 'col-md-2 col-form-label'
        .col-10
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
      .row.mb-3
        = f.label :password, class: 'col-md-2 col-form-label'
        .col-10
          = f.password_field :password, autocomplete: "new-password", class: 'form-control'
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
      .row.mb-3
        = f.label :password_confirmation, class: 'col-md-2 col-form-label'
        .col-10
          = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
      .row.mb-3
        .col-10.offset-2
          = f.submit "Sign up", class: 'btn btn-primary'

.row
  .col
    = render "devise/shared/links"
