= form_for @reminder do |f|
  .row.mb-3
    .col
      - if @reminder.errors.any?
        #error_explanation
          %h2= "#{pluralize(@reminder.errors.count, "error")} prohibited this reminder from being saved:"
          %ul
            - @reminder.errors.full_messages.each do |message|
              %li= message

  .row.mb-3
    = f.label :title, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :title, :required => "required", class: 'form-control'
  .row.mb-3
    = f.label :description, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_area :description, :required => "required", class: 'form-control'
  .row.mb-3
    = f.label :remind_at, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :remind_at, :value => format_date(@reminder.remind_at), :data => { :behavior => 'flatpickr' }, class: 'form-control'
  .row.mb-3
    .col-md-10.offset-2
      = link_to 'Cancel', reminders_path, class: 'btn btn-secondary'
      = f.submit 'Save', class: 'btn btn-primary'
