%tr
  %td= reminder.title
  %td= reminder.description
  %td= reminder.remind_at
  %td
    = link_to 'Show', reminder, class: 'btn btn-sm btn-secondary'
    = link_to 'Destroy', reminder, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
