%h1 Reminders

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Description
      %th Remind at
      %th Actions

  %tbody
    = render @reminders

%br

= link_to 'New Reminder', new_reminder_path, class: 'btn btn-primary'
