%h1 Reminder

%p
  %b Title:
  = @reminder.title
%p
  %b Description:
  = @reminder.description
%p
  %b Remind at:
  = format_date(@reminder.remind_at)

= link_to 'Back', reminders_path, class: 'btn btn-secondary'
