.row
  .col
    %h2 Log in

.row
  .col
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .row.mb-3
        = f.label :email, class: 'col-2 col-form-label'
        .col-10
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
      .row.mb-3
        = f.label :password, class: 'col-2 col-form-label'
        .col-10
          = f.password_field :password, autocomplete: "current-password", class: 'form-control'
  
      - if devise_mapping.rememberable?
        .row.mb-3
          .col-10.offset-2
            .form-check
              = f.check_box :remember_me, class: 'form-check-input'
              = f.label :remember_me, class: 'form-check-label'

      .row.mb-3
        .col-10.offset-2
          = f.submit "Log in", class: 'btn btn-primary'

.row
  .col
    = render "devise/shared/links"
