.header.sticky-top.d-block.bg-primary
  .container.py-3
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      .container-fluid
        = link_to 'Home', reminders_path, class: 'navbar-brand'

        = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'd-flex justify-content-end btn btn-outline-light'
